symfony/app/spool/*

symfony/var/cache/*
symfony/var/logs/*
symfony/var/sessions/*

symfony/app/config/parameters.yml
symfony/app/config/parameters.ini

symfony/app/bootstrap.php.cache
symfony/var/bootstrap.php.cache
symfony/bin/*
symfony/vendor/

symfony/web/bundles/
symfony/web/uploads/

symfony/app/phpunit.xml
symfony/phpunit.xml

symfony/build/

symfony/composer.phar

**/Entity/*~

symfony/.web-server-pid

symfony/web/css/
symfony/web/js/
